extends layout.pug

block content
  .timeline
    form#join-form(action="/auth/join" method="post")
      .input-group
        label (for="join-email") email
        input#join-email(type="email" name="email")
      .input-group
        label(for="join-nick") nickname
        input#join-nick(type="text" name="nick")
      .input-group
        label(for="join-password") password
        input#join-password(type="password" name="password")
      if joinError 
        .error-message= joinError 
      button#join-btn.btn(type='submit') join
